body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.section{
  padding: 0 2em 2em 2em;
}

.resume-page{
  padding: 1em;
}

.main{
  padding-top: 5em; 
}

.uni-logo{
  padding-top:10px;
}

.progress-bar{
  margin-top: 15px;
}

.skill-progress{
  background: #f3e5f5;
}

.project-card-title{
  font-size: 1.2rem !important;
}

@media (max-width: 400px) { 

  .contact-section{
    padding: 0;
  }
      
}

.contact-section{
  padding: 1em;
}
.intro-box{
  background-color: black;
  opacity: 0.7;
  border-radius: 25px;
}

.landing-page{
  min-height: 700px;
  background-image: url(./res/img/rockclimb.jpg);
  background-size: cover;
  background-position: bottom;
  padding: 0;
}

.sticky {
  position: fixed;
  z-index: 2;
}